/* Home Hero 1.0 */

.btn{
    position: relative;
}

.hero-section{
    position: relative;
    background: url("../assets/hero/hero-1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 99px;
}

.hero-section .price-badge {
    background: url("../assets/hero/price-badge-yellow.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: -20px;
    right: 5px;
    width: 180px;
    height: 176px;
    text-align: center;
}

.hero-section .badge-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-section .h4_xs {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero-section .h3_lg {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero-section .hero-text h1{
    font-family: var(--lilita-font);
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.hero-section .hero-text h2{
    font-family: var(--lilita-font);
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.hero-section .hero-text p{
    padding: 0 5%;
}

/* Home About 2.0 */

.about-section {
    padding-top: 80px;
    padding-bottom: 300px;
    background: url('../assets/about/about-1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.about-section h2 {
    font-size: 3.5rem;
}

.about-section p {
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
}

.about-wrapper {
    background: var(--yellow);
    padding: 70px 0 30px;
}

.about-box .about-icon img {
    max-width: 25%;
}

.about-box h4{
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin: 30px 0 20px;
}

/* Home Section 3.0 */



/* Media Query Mobile */

@media (max-width: 992px) {
    .about-section h2 {
        font-size: 2.5rem;
    }

    .about-section p {
        padding: 20px 0;
    }
}

@media (max-width: 767px) {
    /* Home Hero 1.0 */
    .hero-section  .hero-text h1{
        font-size: 5.5rem;
    }
}