.min-w-400 {
  min-width: 400px;
}

/* Home Hero 1.0 */

.btn {
  position: relative;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  background: url("../assets/hero/hero-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 170px;
  padding-bottom: 99px;
  display: flex;
  align-items: center;
}

.hero-section .price-badge {
  background: url("../assets/hero/price-badge-yellow.png") no-repeat center
    center;
  background-size: cover;
  position: absolute;
  top: -20px;
  right: 5px;
  width: 180px;
  height: 176px;
  text-align: center;
}

.hero-section .badge-text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-section .h4_xs {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1;
}

.hero-section .h3_lg {
  font-size: 2.875rem;
  font-weight: 600;
  line-height: 1;
}

.hero-section .hero-text h1 {
  font-family: var(--lilita-font);
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.hero-section .hero-text h2 {
  font-family: var(--lilita-font);
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.hero-section .hero-text p {
  padding: 0 5%;
}

/* Home About 2.0 */

.about-section {
  padding-top: 80px;
  padding-bottom: 300px;
  background: url("../assets/about/about-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.about-section h2 {
  font-size: 3.5rem;
}

.about-section p {
  color: var(--grey);
  padding: 20px 30px;
  font-size: 19px;
}

.about-wrapper {
  background: var(--yellow);
  padding: 70px 0 30px;
}

.about-box .about-icon img {
  max-width: 25%;
}

.about-box h4 {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.5008px;
  margin: 30px 0 20px;
}

/* Home Menu 3.0 */

.menu-section {
  padding: 100px 0 100px;
}

.menu-section .card {
  margin-bottom: 1rem;
}

.menu-section .card-img-top {
  transition: all 500ms ease-in-out;
}

.menu-section h2 {
  font-size: 3.5rem;
  color: var(--light-red);
}

.menu-section .para {
  color: var(--grey);
  padding: 10px 100px;
  font-size: 19px;
}

.menu-section .item-rating i {
  color: var(--yellow);
  padding-right: 5px;
}

.menu-section .wishlist i {
  color: var(--grey);
  font-size: 20px;
  cursor: pointer;
}

.menu-section .wishlist i:hover {
  color: var(--light-red);
}

.menu-section .card-title {
  font-family: var(--oswald-font);
  font-weight: 600;
  margin: 5px 0 10px;
}

.menu-section .card-text {
  color: var(--grey);
  font-size: 15px;
}

.menu-section .menu-price {
  background-color: var(--bg-coffee);
  display: inline-block;
  padding: 7px 12px;
  border-radius: 4px;
  color: var(--yellow);
  font-size: 1rem;
}

.menu-section .add-to-cart a {
  background: var(--yellow);
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 4px;
}

.menu-section .card:hover {
  .card-img-top {
    transform: scale(1.1);
  }
}

.menu-section .ads-box {
  text-align: right;
  padding: 80px 35px 50px;
  border-radius: 6px;
}

.menu-section .ads-img1 {
  background: url("../assets/menu/ads-1.jpg");
  background-size: cover;
}
.menu-section .ads-img2 {
  background: url("../assets/menu/ads-2.jpg");
  background-size: cover;
}

.menu-section .ads-box h4 {
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--brown);
}

.menu-section .ads-box h5 {
  font-size: 2.375rem;
  color: var(--brown);
}

.menu-section .ads-box a {
  font-size: 18px;
  margin-top: 15px;
}

.promotion-section {
  padding: 60px 0;
  background: var(--light-grey);
}

.promotion-section img {
  width: 100%;
}
.promotion-section h2 {
  font-size: 3.25rem;
  margin-bottom: 25px;
}

.promotion-section p {
  font-size: 1.125rem;
}

.promotion-section ul {
  padding-left: 15px;
}

/* Home Promotion 5.0 */

.bg-parralax-scroll {
  background: url("../assets/parallax/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

/* Home Shop 6.0 */

.shop-section {
  padding: 100px 0 0;
  background: var(--yellow);
}

.shop-section h4 {
  font-size: 2.375rem;
  font-weight: 400;
  color: var(--bg-coffee);
}

.shop-section h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--bg-coffee);
}

.shop-section p {
  font-size: 1.125rem;
  padding-right: 10%;
  color: var(--bg-coffee);
  margin-bottom: 40px;
}

.shop-section .store {
  max-width: 40%;
}

.shop-section .e-shop {
  text-align: center;
}

.brand-section {
  padding: 70px 0 40px;
  background: var(--light-grey);
  overflow: hidden;
}

.brand-section .brand-img {
  width: 170px;
  height: auto;
}

.carousel.slide .carousel-inner {
  overflow: hidden;
}

.carousel.slide .carousel-inner .carousel-caption {
  position: relative;
  right: unset;
  left: unset;
}

.carousel-control-prev-icon {
  margin-left: -120px;
  background-color: black;
  border-radius: 5px;
}
.carousel-control-next-icon {
  background-color: black;
  border-radius: 5px;
  margin-left: 110px;
}

/* Home Review  */

.review-section {
  padding: 80px 0 50px;
  background: url("../assets/blog/reviews.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  /* height: calc(100vh - 130px); */
}

.review-section .user-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
}

.review-section .carousel.slide .carousel-inner .carousel-caption p {
  font-size: 1.7rem;
  line-height: 1.45;
  font-weight: 400;
  padding: 0 12%;
  margin-bottom: 25px;
}

.review-section
  .carousel.slide
  .carousel-inner
  .carousel-caption
  .items-rating
  i {
  color: var(--yellow);
  font-size: 1.5rem;
  padding: 5px;
}
.review-section .carousel.slide .carousel-inner .carousel-caption h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Home Contact */

.contact-section {
  background: url("../assets/footer/banner-1.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 0;
}

.contact-section h4 {
  font-size: 2.375rem;
  font-weight: 400;
  margin-bottom: 25px;
}

.contact-section h2 {
  font-size: 4.5rem;
  margin-bottom: 25px;
}

.contact-section p {
  width: 70%;
  margin: 0 auto 30px;
}

.contact-section a {
  font-size: 22px;
  font-weight: 700;
}

/* Media Query Mobile */

@media (max-width: 1200px) {
  .promotion-section h2 {
    font-size: 2.25rem;
  }

  .contact-section p {
    width: 100%;
  }

  .contact-section h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section p {
    padding: 20px 0;
  }

  .menu-section .card a {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  /* Home Hero */
  .hero-section .hero-text h1 {
    font-size: 5.5rem;
  }

  /* Home Menu */
  .menu-section .para {
    padding: 10px 0;
  }

  /* Home Shop */
  .shop-section h4 {
    font-size: 1.8rem;
  }
  .shop-section h2 {
    font-size: 3.75rem;
  }
  .brand-section {
    padding: 50px 0 10px;
  }
  .brand-section .brand-img {
    width: 70px;
    height: auto;
  }

  /* Home Review */
  .review-section .carousel.slide .carousel-inner .carousel-caption p {
    font-size: 1rem;
  }
}
